body{
	text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#timer {
	font-size: 2em;
}

#minusTimer, #plusTimer {
	font-size: 2em;
	border: solid black 1px;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 1em;
}

#minusTimer:hover, #plusTimer:hover {
	cursor: pointer;
}

footer {
	font-size: 0.9em;
	margin-top: 15em;
}